body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.captchaMainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    flex-direction: column;
}

.imageSection{
    display: flex;
    width: 30vw;
    justify-content: center;
    align-items: center;
    column-count: 3;
    flex-wrap: wrap;
    gap: 5px;
}


.captchaImages{
    width: 150px;
    height: 150px;
}

.bottomSection{
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmButton{
    cursor: pointer;
    width: 80px;
    background-color: orangered;
    color: white;
    outline: none;
    border: none;
    height: 30px;
    border-radius: 5px;
}